{% extends "network/layout.html" %}

{% block body %}
    
<div id="user-page-data">
    <h2 id="username">{{ profile.username }}</h2>
    <p id="following-number">Following: {{profile.following.all.count}}</p>
    <p id="followers-number">Followers: <div id="foll-numb">{{profile.followers.all.count}}</div></p>
    {% if user.is_authenticated %}
        {% if user.username != profile.username %}
            <button id="follow" class="btn btn-primary">{{followBtn_initLabel}}</button>
        {% endif %}
    {% endif %}
</div>

<div id="user-posts"></div>
{% endblock %}